*~
*#*#
*.#*
*.swp
opensearch/tests/__pycache__/*
opensearch/lain/__pycache__/*
opensearch/org/*
opensearch/__pycache__/
sample_files/
.env
opensearch/.vscode/launch.json
opensearch/.dependencies/*
*__pycache__*
opensearch/src/lain.egg-info/*
opensearch/scrum_agendas/*
